@{
    ViewBag.Menu = "SystemMain";
    ViewBag.SubMenu = "System0Sub";
    ViewBag.Title = "設定";
    Layout = "~/Views/Shared/_LayoutForIT.cshtml";
}
<div class="container" id="main">
    <div class="row main_hand">
        <div class="col-md-12 main_hand_div">
            <table>
                <tr>
                    <td style="font-size:20px">
                        IFRS9 管理介面
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row main_body" style="overflow:auto;height:100%">
        <div class="col-md-12">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

    });
</script>