<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Transfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ADDomain" value="LDAP://10.42.70.90:3268/DC=dtw,DC=intranet"/>
    <!--Excel版本 EX:(2003,2007) PS:2003=>.xls 2007=>.xlsx-->
    <add key="ExcelVersion" value="2007"/>
    <!--A4 txtlog檔案名稱 -->
    <add key="txtLogA4Name" value=""/>
    <!--A42 txtlog檔案名稱 -->
    <add key="txtLogA42Name" value=""/>
    <!--A6 txtlog檔案名稱 -->
    <add key="txtLogA6Name" value=""/>
    <!-- A7txtlog檔案名稱 EX:(Exhibit29TransferLog.txt)-->
    <add key="txtLogA7Name" value=""/>
    <!--A8 txtlog檔案名稱 EX:(Exhibit10TransferLog.txt)-->
    <add key="txtLogA8Name" value=""/>
    <!--txtlog檔案要放的位置 EX:(C:\fubon)-->
    <add key="txtLogLocation" value=""/>
    <!--Excel檔案下載要放的位置 EX:(C:\fubon\download)-->
    <add key="ExcelDlLocation" value=""/>
    <!--啟動KRisk Service的位置-->
    <add key="StartKRiskService" value="C:\\Program Files (x86)\\UniRisk\\UniRisk Server 3.0\\UniRisk-Server\\StartKRiskService.bat"/>
    <!--停止KRisk Service的位置-->
    <add key="StopKRiskService" value="C:\\Program Files (x86)\\UniRisk\\UniRisk Server 3.0\\UniRisk-Server\\StopKRiskService.bat"/>
    <!--啟動Tomcat Service的位置-->
    <add key="StartTomcatService" value="C:\\apache-tomcat-8.0.45\\bin\\startService.bat"/>
    <!--停止Tomcat Service的位置-->
    <add key="StopTomcatService" value="C:\\apache-tomcat-8.0.45\\bin\\stopService.bat"/>
    <!--排程執行檔的位置-->
    <add key="TaskSchedule" value="D:\\IFRS9ReSetTransfer\\IFRS9ReSetTransfer\\bin\\Debug\\IFRS9ReSetTransfer.exe"/>
    <!--190419增加抓寶碩信評檔SP語法-->
    <add key="GetCounterPartyCreditRatingForIFRS9" value="exec [FBL_DB].[FBL_DB_UAT4].dbo.GetCounterPartyCreditRatingForIFRS9"/>
  </appSettings>
  <system.web>
    <httpCookies httpOnlyCookies="true"/>
    <compilation debug="true" targetFramework="4.6.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <!--會影響效能開發測試Debug 先設為true-->
    <!--<authentication mode="Windows">-->
    <!--<sessionState timeout="30" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="30">
      </forms>
    </authentication>
    <customErrors mode="On" defaultRedirect="~/Home/Error">
      <error statusCode="302" redirect="~/Account/Login"/>
      <error statusCode="403" redirect="~/Home/Error403"/>
      <error statusCode="404" redirect="~/Home/Error404"/>
      <error statusCode="500" redirect="~/Home/Error500"/>
    </customErrors>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="28672" executionTimeout="120"/>
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="30" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
    <pages enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="IFRS9Entities" connectionString="metadata=res://*/Models.IFRS9Model.csdl|res://*/Models.IFRS9Model.ssdl|res://*/Models.IFRS9Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.42.71.139,3301;initial catalog=IFRS9;user id=FBLKRISK;password=Password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="IFRS9Entities" connectionString="metadata=res://*/Models.IFRS9Model.csdl|res://*/Models.IFRS9Model.ssdl|res://*/Models.IFRS9Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARK-LAPTOP;initial catalog=IFRS9Second;user id=test1;password=1qaz@WSX;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--190222增加連到寶碩資料庫連線字串-->
    <add name="Apex" connectionString="Data Source=10.42.71.139,3301;Initial Catalog=IFRS9;User ID=FBLKRISK;Password=Password123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering allowHighBitCharacters="false">
        <verbs>
          <add verb="TRACE" allowed="false"/>
        </verbs>
        <fileExtensions allowUnlisted="false">
          <remove fileExtension=".csproj"/>
          <remove fileExtension=".ascx"/>
          <remove fileExtension=".asax"/>
          <remove fileExtension=".compiled"/>
          <remove fileExtension=".resources"/>
          <remove fileExtension=".resx"/>
          <remove fileExtension=".cs"/>
          <remove fileExtension=".config"/>
          <add fileExtension="." allowed="true"/>
          <add fileExtension=".cshtml" allowed="true"/>
          <add fileExtension=".ico" allowed="true"/>
          <add fileExtension=".otf" allowed="true"/>
          <add fileExtension=".eot" allowed="true"/>
          <add fileExtension=".svg" allowed="true"/>
          <add fileExtension=".ttf" allowed="true"/>
          <add fileExtension=".woff" allowed="true"/>
          <add fileExtension=".woff2" allowed="true"/>
          <add fileExtension=".dll" allowed="true"/>
          <add fileExtension=".exe" allowed="true"/>
          <add fileExtension=".cs" allowed="true"/>
          <add fileExtension=".config" allowed="true"/>
          <add fileExtension=".css" allowed="true"/>
          <add fileExtension=".resx" allowed="true"/>
          <add fileExtension=".resources" allowed="true"/>
          <add fileExtension=".compiled" allowed="true"/>
          <add fileExtension=".targets" allowed="true"/>
          <add fileExtension=".map" allowed="true"/>
          <add fileExtension=".asmx" allowed="true"/>
          <add fileExtension=".js" allowed="true"/>
          <add fileExtension=".png" allowed="true"/>
          <add fileExtension=".aspx" allowed="true"/>
          <add fileExtension=".axd" allowed="true"/>
          <add fileExtension=".ashx" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <botDetect helpLinkEnabled="true" helpLinkMode="image"/>
  <applicationSettings>
    <Transfer.Properties.Settings>
      <setting name="kriskUrl" serializeAs="String">
        <value>http://10.42.70.201:8080/</value>
      </setting>
      <setting name="ADDomain" serializeAs="String">
        <value>LDAP://10.42.70.90:3268/DC=dtw,DC=intranet</value>
      </setting>
      <setting name="smtpServer" serializeAs="String">
        <value>10.204.241.226</value>
      </setting>
      <setting name="mailAccount" serializeAs="String">
        <value>glsisys.life@fbt.com</value>
      </setting>
      <setting name="mailPwd" serializeAs="String">
        <value>Aa87522899</value>
      </setting>
      <setting name="D63MailID" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TaskScheduleLocation" serializeAs="String">
        <!--<value>D:\\IFRS9Transfer\\IFRS9Transfer\\bin\\Debug\\IFRS9Transfer.exe</value>-->
        <value>D:\\IFRS9\\IFRS9Transfer\\IFRS9Transfer\\bin\\Debug\\IFRS9Transfer.exe</value>
      </setting>
    </Transfer.Properties.Settings>
  </applicationSettings>
</configuration>
