.ui-datepicker-trigger {
    border: none;
    background: none;
}

.error {
    color: red;
}

.main_hand select {
    width:215px;
}
.main_hand input[type=text] {
    width:215px;
    font-size:14px;
    border-radius:4px;
    border:1px solid #cccccc;
}
.main_hand input[type=text].hasDatepicker {
    width:180px;
    font-size:14px;
    border-radius:4px;
    border:1px solid #cccccc;
}

 .select-editable {
     position:relative;
     background-color:white;
     border:solid grey 1px;
     width:215px;
     height:30px;
 }
 .select-editable select {
     position:absolute;
     top:0px;
     left:0px;
     font-size:14px;
     border:none;
     width:215px;
     margin:0;
     height:30px;
     /*border-radius:4px;
     border:1px solid #cccccc;*/
 }
 .select-editable input[type=text] {
     position:absolute;
     top:0px;
     left:0px;
     width:190px;
     padding:1px;
     font-size:14px;
     border:none;
     padding:6px 12px;
     /*border-radius:4px;
     border:1px solid #cccccc;*/
 }
 .select-editable select:focus, .select-editable input:focus {
     outline:none;
 }

 a.openDialog:link {
    color: blue;
    text-decoration: none;
     ;
    /*設定還沒瀏覽過的連結樣式*/
}
a.openDialog:hover {
    color: #b200ff;
    text-decoration: underline;
     ;
    /*設定滑鼠移到連結上的樣式*/
}
a.openDialog:active {
    color: blue;
    text-decoration: underline;
     ;
    /*設定正在被點選的連結樣式*/
}
a.openDialog:visited {
    color: #b200ff;
    text-decoration: underline;
     ;
    /*設定已經瀏覽過的連結樣式*/
}

