body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input:not(.form-control)[type=text] {
    height:30px;
    padding-left:10px;
}

input.ui-pg-input[type=text] {
    height:15px;
}

input.input-elm[type=text] {
    height:22px;
}

.title {
    position:absolute;
    bottom:0px;
}

.title:hover {
  color: blue;
   position: absolute;
}

.title:before {
    bottom:0px;
}

.title[alt]:hover:after {
  content: attr(alt);
  padding: 4px 8px;
  font-size:15px;
  color: blue;
  position: absolute;
  /*left: 0;*/
  /*top: 100%;*/
  top: 28%;
  z-index: 20;
  white-space: pre;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.dialogClass[alt]:hover:after {
   top: auto;
   position:fixed;
   text-align:left;
}