@{
    ViewBag.Title = "發生錯誤";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>錯誤</title>
</head>
<body>
    <div class="container" id="main">
        <div class="row main_hand">
        </div>
        <div class="row main_body" style="overflow:auto;height:100%">
            <div class="col-md-12">
                <hgroup>
                    <h1>錯誤。</h1>
                    <h2>處理您的要求時發生錯誤。</h2>
                    <h2>Status : @ViewBag.status</h2>
                </hgroup>
            </div>
            <div>
                <a id="returntoLogin" onclick="loginpage()" href='#'>回登入畫面</a>

            </div>
        </div>
    </div>
</body>
</html>
<script>
    function loginpage() {
        let uri = encodeURIComponent('@Url.Action("Login", "Account", null)');
        window.location.replace(window.location.protocol + "//" + window.location.hostname + ':' + window.location.port + '/' + uri)

    }

    



</script>